{% extends "quadro/base.html" %}

{% block content %}

<form class="box" method="post">
  <input
    class="form-card-title"
    type="text"
    name="titulo"
    placeholder="Digite a tarefa..."
  />
  <button class="btn" type="submit">Criar</button>
</form>
<div>
  <div>
    <div class="flex">
      <div class="scrum-board backlog">
        <h2>Backlog</h2>
        {% for tarefa in backlogs%}
          <div class="input-group overflow">
            <span>{{tarefa.titulo}}</span>
            <a href="" class="drag">Detalhe</a>
            <div class="margin-top-10">
               <a href="" class="button button-backlog">Backlog</a>
               <a href="" class="button button-progress">In Progress</a>
               <a href="" class="button button-done">Done</a>
            </div>
          </div>
        {%endfor%}
      </div>
      <div class="scrum-board in-progress">
        <h2>In progress</h2>

      </div>
      <div class="scrum-board done">
        <h2>Done</h2>

      </div>
    </div>
  </div>

{% endblock %}
